env:
  browser: true
  es6: true
extends: 'eslint:recommended'
parserOptions:
  ecmaFeatures:
    experimentalObjectRestSpread: true
    jsx: true
  sourceType: module
plugins:
  - react
rules:
  indent: [2, 2]
  linebreak-style: [2, unix]
  semi: [2, always]
  consistent-return: 1
  no-extra-parens: 0
  no-warning-comments: 0
  no-process-env: 0
  curly: [2, multi-line, consistent]
  no-empty: [2, {allowEmptyCatch: true}]
  # extra rules
  no-unexpected-multiline: 2
  dot-location: [2, property]
  no-undef: 1
  array-bracket-spacing: 2
  comma-spacing: 2
  id-match: [2, '^([A-Za-z\d_$]+)$', {properties: true}]
  key-spacing: 2
  keyword-spacing: 2
  new-cap: [2, {newIsCap: true, capIsNew: false}]
  no-array-constructor: 2
  no-lonely-if: 2
  no-new-object: 2
  no-spaced-func: 2
  object-curly-spacing: 2
  padded-blocks: [2, never]
  quotes: [2, single, avoid-escape]
  space-before-function-paren: [2, never]
  # es6
  computed-property-spacing: 2
  no-useless-call: 2
  object-shorthand: [2, methods]
  prefer-arrow-callback: 2
  prefer-spread: 2

  # react
  jsx-quotes: [2, prefer-single]
  react/jsx-boolean-value: [2, never]
  react/jsx-closing-bracket-location: [2, {nonEmpty: false, selfClosing: line-aligned}]
  react/jsx-curly-spacing: 2
  react/jsx-equals-spacing: 2
  react/jsx-first-prop-new-line: 0
  react/jsx-indent: [2, 2]
  react/jsx-indent-props: [2, 2]
  react/jsx-key: 2
  react/jsx-no-duplicate-props: 2
  react/jsx-no-literals: 0
  react/jsx-no-undef: 2
  react/jsx-pascal-case: 2
  react/jsx-space-before-closing: 2
  react/jsx-uses-react: 2
  react/jsx-uses-vars: 2
  react/no-deprecated: 2
  react/no-unknown-property: 2
  react/prefer-es6-class: [2, never]
  react/prop-types: 0
  react/react-in-jsx-scope: 2
  react/require-render-return: 2
  react/self-closing-comp: 2
  react/sort-comp: 0