$enable-flex: true;
$spotifyLightGray: #404040;
$spotifyGray: #222222;
$spotifyDarkGray:#191A1A;
$textColor: white;

html, body {
  width: 100%;
  height: 100%;
  background: $spotifyGray;
  background: -webkit-linear-gradient(left, $spotifyDarkGray, $spotifyLightGray, $spotifyDarkGray);
  background: -o-linear-gradient(right, $spotifyDarkGray, $spotifyLightGray, $spotifyDarkGray);
  background: -moz-linear-gradient(right, $spotifyDarkGray, $spotifyLightGray, $spotifyDarkGray);
  background: linear-gradient(to right, $spotifyDarkGray, $spotifyLightGray, $spotifyDarkGray);
  color: $textColor;
}

.container {
  margin: 0 auto;
  padding: 50px;
}

h2 {
  font-size: 28px;
}

.artistsContainer {
  padding: 10px;
  .artistContainer {
    padding: 10px;
    .artist {
      color: darken( $textColor, 30% );
      font-size: 12px;
      height: 100%;
      background: #222222;
      -webkit-transition: all 200ms ease-in;
      -webkit-transform: scale(1);
      -ms-transition: all 200ms ease-in;
      -ms-transform: scale(1);
      -moz-transition: all 200ms ease-in;
      -moz-transform: scale(1);
      transition: all 200ms ease-in;
      transform: scale(1);
      &:hover {
        cursor: pointer;
        box-shadow: 0px 0px 10px #000000;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.05);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.05);
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.05);
        transition: all 200ms ease-in;
        transform: scale(1.05);
      }
      h3 {
        font-size: 18px;
        margin: 10px 5px 15px 10px;
      }
      .info {margin: 5px -5px;}
    }
  }
}

.imageContainer {
  img {width: 100%;}
}

.artistDetails {
  .artist {
    margin-top: 20px;
  }
}

.loading {
  font-size: 18px;
  progress {width: 300px;}
}

.albumsContainer {
  .albumContainer {
    padding: 10px;
    .album {
      color: darken($textColor, 30%);
      font-size: 12px;
      height: 100%;
      background: $spotifyGray;
      filter: opacity(80%);
      cursor: pointer;
      &:hover {
        filter: opacity(100%);
      }
    }
  }
  h2 {margin-bottom: 17px;}
  h4 {
    font-size: 15px;
    margin: 10px 5px 15px 10px;
  }
}

.albumTitle h3 {
  margin: 4px 10px 24px;
}

.tracks {
  margin-top: 20px;
}
